<%= render :partial => 'layouts/topnav'%>
<!--
<style>
body{
	background-image: url("geo.png");
	}

h1{
	color:white;
}

h2{
	color:white;
}

p{
	color:white;
}

pre{
	background-color: #323232;
}
</style>
-->


 <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">EVOCATIVE
                    <small>Work towards a better you.</small>
                </h1>
            </div>
        </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://endlessnovel.com/wp-content/uploads/motivational-quotes-bodybuilding-4.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>What is EVOCATIVE?</h3>
                <p>Description</p>
                <h3>Recommended Tools:</h3>
                <ul>
                    <li>simplyshredded</li>
                    <li>macro counter</li>
                    <li>bodybuilding.com</li>
                    <li>lol</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</pre>
</div>
-->